<div class="oj-flex oj-sm-padding-4x">
  <div class="oj-flex-item oj-sm-12 oj-md-6">
    <h3>Deposit Money</h3>
    <oj-form-layout max-columns="1">
      <oj-input-text label-hint="Account Number" value="{{accountNumber}}"></oj-input-text>
      <oj-input-number label-hint="Amount" value="{{amount}}" min="1"></oj-input-number>
      <oj-input-text label-hint="Description" value="{{description}}"></oj-input-text>
      <oj-button on-oj-action="[[makeDeposit]]">Deposit</oj-button>
    </oj-form-layout>
  </div>
</div>

